.form {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
}

.input-name {
  width: 210px;
}

.input-value {
  width: 210px;
}

.input-day {
  width: 150px;
}

.input-time_picker {
  width: 150px;
}
