.box-select-hour {
  display: flex;
  align-items: center;
  margin: 20px 10px 10px 50px;
}

.box-select-hour__title {
  width: 200px;
}

.box-select-hour__type {
  padding-top: 10px;
  margin-left: 50px;
  display: flex;
}

.box-select-hour__type__title {
  margin-right: 10px;
}

.box-select-hour__type__select {
  width: 120px;
  height: 30px;
  text-align: center;
}

.button-form {
  margin-left: 50px;
  width: 440px;
}
