.box {
  margin-top: 20px;
  text-align: right;
}

.box__box-text-average {
  width: 400px;
  float: right;
  text-align: center;
}

.button-add {
  border: 2px solid #2e8fcc;
  color: #2e8fcc;
  background-color: #fff;
  width: 400px;
  margin: 10px;
}

.button-add:hover {
  background-color: #2e8fcc;
  color: #fff;
}

.button-delete {
  border: 2px solid #cc2e4b;
  color: #CC2E4BFF;
  background-color: #fff;
  width: 400px;
  margin: 10px;
}

.button-delete:hover {
  background-color: #CC2E4BFF;
  color: #fff;
}
